NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_API_URL=http://localhost:4000
DOCS_API_URL=http://localhost:4000
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_JWT_SECRET=
DATABASE_URL=

PLATFORM_ROOT_DOMAIN=neue.dev
PLATFORM_ASSET_PREFIX=
PREFER_CUSTOM_DOMAIN=false
REDIRECT_PRIMARY_DOMAIN=false
VERCEL_TOKEN=
VERCEL_PROJECT_ID=
VERCEL_TEAM_ID=
VERCEL_TEAM_SLUG=
VERCEL_AUTO_WWW_REDIRECT=false
